INTEGRATIONS_BASE_URL=http://frigg:3001
INTEGRATIONS_INTERNAL_TOKEN=change-me-long-random
INTEGRATIONS_HIPAA_MODE=false
INTEGRATIONS_HIPAA_ALLOWED=hubspot
INTERNAL_TOKEN=${INTEGRATIONS_INTERNAL_TOKEN}
REDIRECT_URI=http://vivified-core:8000/integrations
HUBSPOT_CLIENT_ID=
HUBSPOT_CLIENT_SECRET=
HUBSPOT_SCOPE=contacts
ENFORCE_EGRESS=false
HUBSPOT_ALLOWED_HOSTS=api.hubapi.com,app.hubspot.com
