# Python
__pycache__/
*.py[cod]
venv/
.env
.pytest_cache/

# Node
node_modules/
dist/
.npm

# Go
vendor/
bin/

# Docker
.docker/

# Security
*.key
*.pem
*.crt
secrets/

# IDE
.vscode/*
!.vscode/
!.vscode/settings.json
.idea/
.DS_Store
site/
*.db

# Local Python env
.venv/
.venv*/
.venv_* 
.venv_black/
.venv_lint/
.venv_docs/
*.egg-info/
